
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
*::selection{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
}
:root{
   --primary-color:#f9f9f9;
   --secondary-color:#222;
}
.dark-mode{
    --primary-color:#212121;
    --secondary-color:#f9f9f9;
    
    
    header .Official-logo{
        position: relative;
        width: 4rem;
        background-color: #f9f9f9;
        border-radius: 50%;
    }
    
    .home .image{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    
    .home .image .birthday{
        position: absolute;
        width: 65%;
        top: -60px;
        left: 50px;  
    }
    .home .image .India{
        position: absolute;
        margin-top: 250px;
        width: 80%;
        transition: .5s;
        opacity: 0.4;
        z-index: -2;
                
    }
    
}
    

html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background-color: var(--primary-color);
    transition: .5s;
}
section{
    min-height: 100vh;
    padding-top: 17rem;
    padding-left: 9%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transition: .5s;
}

header .Official-logo{
    position: relative;
    width: 4rem;
    opacity: 1;
}

header .navbar a{
    display: inline-block;
    font-size: 1.7rem;
    margin-left: 3rem;
    font-weight: 500;
    color: var(--secondary-color);

}

header .navbar a:hover{
    color: rgb(47, 255, 6);
}

header .mode{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: #f9f9f9;
    font-size: 1.5rem;
    background: linear-gradient(rgb(247, 12, 12),rgb(0, 1, 3));
    border-radius: 50%;
    cursor: pointer;
}

.home .flag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 60vh;
    margin-left: 80px;
    z-index: -1;
}
.home .content{
    margin-top: -80px;
    width: 50%;
    float: left;
}
.home .content h3{
    
    font-size: 4.4rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    line-height: 5.3rem;
}
.home .content h3 span{
    font-size: 7rem;
    color: orange;
    line-height: 7rem;
}
.home .content p{
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 1rem 0;
}

.btn{
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    padding: .8rem 5rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    color: #f9f9f9;
    box-shadow: 0.05rem 0.3rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
}

.btn span {
    position: absolute;
    height: 300%;
    width: 300%;
    top: 0;
    left: 0;
    background: linear-gradient( rgb(0, 0, 0), green, rgb(0, 0, 0), green);
    z-index: -1;
    transition: 0.3s; 
}

.btn:hover span{
    top: -100%;
    left: 0;
}



.home .image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.home .image .birthday{
    position: absolute;
    width: 65%;
    top: -60px;
    left: 50px;  
}
.home .image .India{
    position: absolute;
    margin-top: 250px;
    width: 75%;
    opacity: 0.2;
    transition: .5s;
    z-index: -2;
}

.sci{
    position: absolute;
    bottom: 2.5rem;
    display: flex;
    margin-left: -2rem;
}

.sci a{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    background-color: rgb(26, 124, 26);
    border-radius: 50%;
    text-align: center;
    margin-left: 2.5rem;
    box-shadow: 0.3rem .75rem 1rem rgb(0, 1, 3);
    transition: .3s;
}

.sci a i{
    font-size: 1.7rem;
    color: #f9f9f9;
    line-height: 4rem;
    transition: .3s;
}

.sci a:hover{
    background-color: #f9f9f9;
    transform: translateY(-5px);
}

.sci a:hover i{
    color: rgb(26, 124, 26);
}

.home #copywrite{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    color: #f9f9f9;
}