
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
*::selection{
    background-color: rgb(255, 0, 0);
    color: aliceblue;
}
:root{
   --primary-color:#f9f9f9;
   --secondary-color:#222;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background-color: var(--primary-color);
}
section{
    min-height: 100vh;
    padding-top: 17rem;
    padding-left: 9%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .Official-logo{
    position: relative;
    width: 4rem;
}

header .navbar a{
    display: inline-block;
    font-size: 1.7rem;
    margin-left: 3rem;
    font-weight: 500;
    color: var(--secondary-color);

}

header .navbar a:hover{
    color: red;
}

header .mode{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: #f9f9f9;
    font-size: 1.5rem;
    background: linear-gradient(rgb(6, 63, 185),rgb(0, 0, 0));
    border-radius: 50%;
    cursor: pointer;
}

.home .flag{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 60vh;
    margin-left: 80px;
    z-index: -1;
}
.home .content{
    margin-top: -80px;
    width: 50%;
    float: left;
}
.home .content h3{
    
    font-size: 4.4rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    line-height: 5.3rem;
}
.home .content h3 span{
    font-size: 7rem;
    color: orange;
    line-height: 7rem;
}
.home .content p{
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 1rem 0;
}

.btn{
    margin-top: 1rem;
    position: relative;
    display: inline-block;
    padding: .8rem 5rem;
    border-radius: 5rem;
    font-size: 1.7rem;
    color: #f9f9f9;
    box-shadow: 0.05rem 0.3rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
}

.btn span {
    position: absolute;
    height: 300%;
    width: 300%;
    top: 0;
    left: 0;
    background: linear-gradient( orange, green, orange, green);
    z-index: -1;
    transition: 0.5s; 
}

.btn:hover span{
    top: -100%;
    left: 0;
}



.home .image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.home .image .India{
    position: absolute;
    margin-top: 400px;
    width: 120%;
}
.home .image .birthday{
    position: absolute;
    width: 95%;
    top: -80px;
    left: -70px;  
}