
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
*::selection{
    background-color: brown;
    color: aliceblue;
}
:root{
   --primary-color:#f9f9f9;
   --secondary-color:#222;
}
html{
    font-size: 62%;
    overflow-x: hidden;
}

body{
    background-color: var(--primary-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .Official-logo{
    position: relative;
    width: 4rem;
}

header .navbar a{
    display: inline-block;
    font-size: 1.7rem;
    margin-left: 3rem;
    font-weight: 500;
    color: var(--secondary-color);

}

header .navbar a:hover{
    color: red;
}

header .mode{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    color: #f9f9f9;
    font-size: 1.5rem;
    background: linear-gradient(rgb(138, 68, 2),rgb(17, 83, 17));
    border-radius: 50%;
    cursor: pointer;
}

.home .flag{
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .flag{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
}
.home .content h3{
    font-size: 2.4rem;
    color: var(--secondary-color);
    text-transform: uppercase;
}
.home .content p{
    font-size: 1.6rem;
    color: var(--secondary-color);
    padding: 1rem 0;
}